<!--
  Generated template for the MovieDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{this.data.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="contentArea_movieDetails">
    <img class="thumbnail" [src]="this.data.imgUrl" (click)="clickedPreview()" />
    <button ion-button class="btn-addToWatchlist">
      <div>
        Add to Watchlist
      </div>
    </button>
    <button ion-button class="btn-buy">
      <div>
        <!-- {{this.data.}} -->
      </div>
    </button>
    <div>
      <span class="title">{{this.data.title}}</span>
      <div style="text-align: center; float: right;">
        <span class="ratingBar fa " *ngFor="let a of [1,2,3,4,5]; index as i" [ngClass]="{ 'fa-star' : this.data.rating - i,
      'fa-star-half-o' : this.data.rating == i+0.5,
      'fa-star-o' : this.data.rating < i+1}">
        </span>
      </div>
    </div>

    <div class="genreYearDuration">{{this.data.genre}} ({{this.data.releaseYear}}, {{this.data.duration}})</div>
    {{data.description}}

    <hr>
    <div class="comment-box">
      <div>
        <span class="title">Comments</span>
        <span class="addComment" (click)="clickedAddComment()">{{showNewCommentSection ? "Hide":"Add Comment"}}</span>
      </div>
      <div class="addComment_section" *ngIf="showNewCommentSection">
        <div class="star-rating">
          <span class="ratingBar fa " *ngFor="let a of [1,2,3,4,5]; index as i" [ngClass]="{ 'fa-star' : newComment.rating - i,
                'fa-star-half-o' : newComment.rating == i+0.5,
                'fa-star-o' : newComment.rating < i+1}" (click)="ratingStarClicked(i+1,newComment.rating == i+0.5 )">
          </span>
        </div>
        <ion-item class="titleAddComment">
          <!-- <ion-label color="primary"></ion-label> -->
          <ion-input placeholder="Title"></ion-input>
        </ion-item>

        <ion-item class="descAddComment">
          <ion-textarea placeholder="Enter comment"></ion-textarea>
        </ion-item>

        <ion-item>
          <button ion-button class="submitButton">Submit</button>
        </ion-item>
      </div>

      <div *ngFor="let comment of data.comments" class="comment">
        <div class="title">{{comment.title}} </div>
        <div class="author">{{comment.author}}</div>
        <div class="star-rating">
          <span class="ratingBar fa " *ngFor="let a of [1,2,3,4,5]; index as i" [ngClass]="{ 'fa-star' : comment.rating - i,
            'fa-star-half-o' : comment.rating == i+0.5,
            'fa-star-o' : comment.rating < i+1}" >
          </span>
        </div>
        <hr> {{comment.description}}
      </div>


    </div>
  </div>
</ion-content>