$bgcolor: #f1f1f1;
big-card .outerMostBigCard {
    width: 98%;
    background-color: $bgcolor;
    border: $bgcolor thin solid;
    border-radius: 10px;
    padding: 10px;
    .ratingBar {
        color: #ff5248;
    }
    .title {
        font-size: 1.3em;
        font-weight: bold;
    }
    .genreYearDuration {
        color: #a9a9ad;
    }
    .thumbnail {
        border-radius: 7px; // position: absolute;
    }
    .overlay {
        position: absolute;
        top: 2em;
        right: 3em;
        text-align: center;
        // width: 100%;
        color: #f1f1f1;
        background: grey;
        border-radius: 3px;
        padding: 4px 5px;
    }
}