page-search {
    .searchResultBox    {
        padding:0px 0px;
        
        
    }
    .searchResultItems  {
        // margin-bottom:10px;
    }

    .genreSelector{
        padding:5px;
        background: #ddd;
        border-radius: 3px;
        margin:4px;
    }
    .selectedGenre  {
        background: #777;
    }
    .genreParent    {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
