<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="refreshItemList($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <!-- <ion-list>
    <button ion-item (click)="refreshItemList(item)" *ngFor="let item of currentItems"  >
      {{item.name}} {{item.id}}
      
    </button>

  </ion-list> -->
  <!-- <ion-list> -->
    <div class="genreParent"> 
        <span class="genreSelector" *ngFor="let genre of genres" (click)="genreSelected(genre)" [ngClass]="{'selectedGenre':currentGenre==genre}">{{genre}}</span>

    </div>
  <!-- </ion-list> -->
  <div class="searchResultBox">
    <div *ngFor="let x of currentItems" class="searchResultItems">
      <list-card [data]="x" (click)="openPage(x)">
      </list-card>

    </div>

  </div>


</ion-content>