<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="refreshItemList($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="refreshItemList(item)" *ngFor="let item of currentItems">
      {{item.name}} {{item.id}}
      <!-- <ion-avatar item-start>
        <img [src]="item.profilePic" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.about}}</p> -->
      <!-- <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note> -->

    </button>
  </ion-list>
  <div class="searchResultBox">
    <div *ngFor="let x of listCardData" class="searchResultItems">
      <list-card [data]="x" (click)="openPage(x)" >
      </list-card>

    </div>

  </div>


</ion-content>